* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    font-size: 0px;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center; 
}

.leftDiv {
    font-size:17px;
    background-color: pink;
}

.date {
    margin: 10px auto;
    width: 10em;
    box-shadow: 0 0.5rem 4rem rgba(0,0,0,0.4);
    box-sizing: border-box; 
}
.date:hover {
    cursor: pointer;
    background-color: skyblue;
}

.show-img {
    width: 100%;
    height: 100%;
    background-color:darkorchid; 
}

.add-img {
    width: 200px;
    height: 200px; 
    font-size: 5rem;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.img-div {
    width: 200px;
    height: 200px;
}

#fileDiv{
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: center; 
    align-items: center;
}

.rightDiv {
    background-color: skyblue;
    display: inline-block;
}

#toDoTitle {
    font-weight: 600;
}
